@using Merino.config;
@using Microsoft.Extensions.Options;
@inject IOptionsSnapshot<AppSetteings> Options
@inject IOptionsSnapshot<DatabaseSetting> dbOptions


@{
    var settings = Options.Value;
    var dbSettings = dbOptions.Value;

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    string accessUser = $"ユーザー：{ViewData["UserID"]}　ロール：{ViewData["Role"]}　でアクセスしています。";
    <div class="text-center">
        <p>@accessUser</p>
    </div>

    <div class="">
        <h1>Setting</h1>
        <div>@nameof(AppSetteings.Env): @settings.Env</div>
        <div>@nameof(SettingFile.Database): @settings.SettingFile.Database</div>
        <div>@nameof(ConnectionStrings.yuta_SampleWeb01Context): @dbSettings.ConnectionStrings.yuta_SampleWeb01Context</div>
    </div>
}

@if(Context.User.IsInRole("Administrator"))
{
    <div class="text-center">
        <a asp-controller="Admin" asp-action="Index" >管理者用ページへのリンク</a>
    </div>
}